html {
box-sizing: border-box;
}
*, *::before, *::after {
box-sizing: inherit; 
}
body {
font-family: 'Urbanist',sans-serif;
line-height: 1.5;
background-color: #003766;
margin: 0;
padding: 0;
}

/*-- Navbar Customization */
.navbar-custom {
background: linear-gradient(90deg, #71a4f1 0%, #c8761d 100%);
}

.navbar-nav .nav-link {
color: #003766 !important;
font-weight: 300;
transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
color: #2979c4 !important;
}

.navbar-brand img {
height: 8.5rem;
}

.navbar-nav-left, .navbar-nav-right {
display: flex;
align-items: center;
gap: 3rem;
padding-left: 10rem;
padding-right: 10rem;
}

.navbar-nav-left {
font-size: 1.6rem;
}

.navbar-nav-right {
font-size: 1.89rem;
}

.about-section {
background: url("assets/about/hero-background.jfif") center/cover no-repeat;
padding: 160px 0;
position: relative;
}

.about-section::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 20, 40, 0.75);  /* dark overlay */
backdrop-filter: blur(2px);
}

.about-section .container {
position: relative;
z-index: 2;
}

.accent {
color: #ff9d00; /* orange accent, change if needed */
font-weight: 700;
}

.lead {
font-size: 1.15rem;
line-height: 1.7;
}



/*-- Footer Customization */
.footer-custom {
background: linear-gradient(90deg, #011b41 0%, #130029 100%);
color: #ffffff;
font-family: 'Urbanist', sans-serif;
}

.footer-link {
color: #ffffff;
text-decoration: none;
transition: color 0.3s ease;
font-weight: 300;
}

.footer-link:hover {
color: #8f8e8e;
}

.footer-icon {
color: #ffffff;
font-size: 1.3rem;
transition: color 0.3s ease;
}

.footer-icon:hover {
color: #8f8e8e;
}


/*--Responsive */
@media (max-width: 991px) {
.navbar-nav-left, .navbar-nav-right {
flex-direction: column;
gap: 1rem;
}
}

