html {
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit; 
}

body {
font-family: 'Urbanist',sans-serif;
line-height: 1.5;
background-color: #D4D4E4;
margin: 0;
padding: 0;
}

.navbar-custom {
background: linear-gradient(90deg, #71a4f1 0%, #c8761d 100%);
}

.navbar-nav .nav-link {
color: #003766 !important;
font-weight: 300;
transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
color: #2979c4 !important;
}

.navbar-brand img {
height: 9rem;
}

/* Services Section Styling */
.services {
display: grid;
grid-template-columns: repeat(3, 1fr);
min-height: 80vh;
text-align: center;

}

.service-card {
position: relative;
overflow: hidden;
transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.service-card a {
display: block;
text-decoration: none;
color: white;
height: 100%;
position: relative;
}

.service-bg {
position: absolute;
inset: 0;
background-size: cover;
background-position: center;
transition: transform 0.6s ease, filter 0.4s ease;
}

.service-bg::after {
content: "";
position: absolute;
inset: 0;
background: linear-gradient(
#C9761C66 1%,
#20012C 100%
);
pointer-events: none;
z-index: 1;
}

.service-content {
position: relative;
z-index: 2;
padding: 17rem 2rem 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
}

.service-content h2 {
font-size: 4rem;
font-weight: 800;
margin-bottom: 1rem;
}

.service-content p {
font-size: 1.2rem;
max-width: 300px;
line-height: 1.7;
color: #f4f4f4;
}

.service-card:hover .service-bg {
transform: scale(1.05);
filter: brightness(80%);
}

.service-card:hover {
transform: translateY(-5px);
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.live-sound {
display: grid;
grid-template-columns: 2fr 1fr;
min-height: 60vh;
background-color: #D4D4E4; 
}

.live-sound-content {
padding: 10rem;
display: flex;
flex-direction: column;
justify-content: center;
color: #0a2a4a;
}

.live-sound-content h1 {
font-size: 5rem;
font-weight: 800;
line-height: 1.1;
}

.live-sound-content h1 span {
color: #C9761C; 
}

.live-sound-content p {
margin-top: 1rem;
font-size: 1.2rem;
max-width: 580px;
}

.live-btn {
display: inline-block;   
width: auto; 
margin-top: 3rem;            
padding: 0.8rem 3rem;
background-color: #003766;
color: #ffffff;
border-radius: 55px;
text-decoration: none;
font-weight: 200;
font-size: 2rem;
transition: background 0.3s ease;
align-self: flex-start;
}

.live-btn:hover {
background-color: #195a8f;
}

.live-sound-image {
background-image: url('assets/services/live.jpg'); 
background-size: fill;
background-position: center;
}


/* Spacing to center logo properly */
.navbar-nav-left, .navbar-nav-right {
display: flex;
align-items: center;
gap: 3rem;
padding-left: 10rem;
padding-right: 10rem;
}

.navbar-nav-left {
font-size: 1.6rem;
}

.navbar-nav-right {
font-size: 1.89rem;
}

.footer-custom {
background: linear-gradient(90deg, #011b41 0%, #130029 100%);
color: #ffffff;
font-family: 'Urbanist', sans-serif;
}

.footer-link {
color: #ffffff;
text-decoration: none;
transition: color 0.3s ease;
font-weight: 300;
}

.footer-link:hover {
color: #8f8e8e;
}

.footer-icon {
color: #ffffff;
font-size: 1.3rem;
transition: color 0.3s ease;
}

.footer-icon:hover {
color: #8f8e8e;
}


@media (max-width: 991px) {
.navbar-nav-left, .navbar-nav-right {
flex-direction: column;
gap: 1rem;
}
}
